.#{$prefix}row-fix {
    display: table;
    table-layout: fixed;
    // border-collapse:separate;
    // border-spacing:.5rem 0;
    margin: 0;
    width: 100%;
    padding-bottom: 5px;
}
.#{$prefix}row-fix + .#{$prefix}row-fix {
    margin-top: 5px;
    padding-top: 5px;
}
[class*='#{$prefix}fix-col'] {
    display: table-cell;
    padding:0 1.2rem;
}
[class*='#{$prefix}fix-col']:last-of-type{
    border-right:0;
}
@for $i from 1 through $grid-fix {
    .#{$prefix}fix-col-#{$i} {
       width:(100% / ($grid-fix / $i))
    }
}
@media screen and (max-width: $break-point) {
    [class*='#{$prefix}fix-col'] {
        display: block;
        width: 100%!important;
        padding:0 1.2rem;
    }
    [class*='#{$prefix}fix-col']:last-of-type{
        margin-top: 5px;
    }
}
