/**
 * @title Module-blocks
 * @example <div class="[$prefix]-float-row">...
            <div class="[$prefix]-float-col-[1-12]">...
 * @description the most common grid css system, use if your proyect is under IE11 support
**/

.#{$prefix}float-row + .#{$prefix}float-row{
  margin-top: 1em;
  margin-bottom: 1em;
}
.#{$prefix}float-row:after,.#{$prefix}float-row:before {
    content: "";
    display: table;
    clear: both
}
[class*="#{$prefix}float-col-"] {
    float: left;
    // padding: .5rem;
    margin-right: $grid-space;
    &:last-of-type{
        border-right: 0;
        margin-right: 0;
    }
}
@for $i from 1 through $grid-float {
    .#{$prefix}float-col-#{$i} {
       width:(100% / ($grid-float / $i)) - (($grid-space * ($grid-float - $i)) / $grid-float);
    }
}
@media screen and (max-width:$break-point - 1){
    [class*="#{$prefix}float-col-"] {
        float: none;
        width: 100%!important;
        margin-right: 0;
        margin-top: 14px;
        border-left: none!important;
    }
  }
