body {
  overflow-x: hidden;
}
.#{$prefix}layout{
//  min-width: $layout-min-width;
    background-color: $layout-background;
    max-width: $layout-max-width;
    margin: $layout-margin;
    padding:$layout-padding;
    position: relative;
}
