.#{$prefix}brand-factoring{
  width: 300px;
  height: 60px;
  display: block;
  @include background($factoringBase64,no-repeat,center,cover);
  position: absolute;
  top: -50%;
  left: 50%;
  margin-left: -150px;
}
.#{$prefix}login{
  background-color: $midnight-blue;
  @include position(absolute, 0,0,0,0,0)
}
.#{$prefix}login-content{
  background-color: white;
  border: 1px solid #f1f1f1;
  padding: 30px;
  @include absolute-center(300px,280px);
  .#{$prefix}login-error{
    display: none;
    height: 0;
    text-align: center;
  }
  .#{$prefix}button{
    width: 100%;
    margin-top: 50px
  }
  label{
    position: relative;
    i.fa{
      position: absolute;
      top: 1px;
      left: 7px;
      font-size: 1.8rem;
      color: $bombay;
    }
    .#{$prefix}input{
      padding-left:24px;
      color: $bombay;
      &:last-of-type{
        margin: 10px 0;
      }
    }
  }
}
