@mixin mobile(){
  @media only screen and (max-width: #{$media-mobile}){
    @content;
  }
}
@mixin tablet(){
  @media only screen and (min-width: #{$media-mobile}) and (max-width: #{$media-tablet}){
    @content;
  }
}
@mixin desktop(){
    @media only screen and (min-width: #{$media-tablet}){
      @content;
    }
}
@mixin retina(){
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx){
        @content;
    }
}
@mixin column-gap($count, $width,$gap){
column-count: $count;
column-width: $width;
column-gap: $gap;
-webkit-column-count: $count;
-webkit-column-gap: $gap;
-webkit-column-width: $width;
-moz-column-count: $count;
-moz-column-gap: $gap;
-moz-column-width: $width;
}
@mixin circle($size){
  border-radius: 50%;
  width: $size;
  height: $size;
  line-height:$size;
  display: block;
  text-align: center;
}
@mixin background($img,$size,$pos,$repeat){
  background-image: $img;
  background-repeat: $repeat;
  background-position: $pos;
  background-size:$size;
}
@mixin truncate($width:''){
  @if $width == '' {
    //nada
  } @else {
    max-width:$width;
  }
  white-space:nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@mixin hidden(){
  display: none;
  visibility: hidden;
}
@mixin position($pos,$top,$right,$bottom,$left,$z-index){
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}

@mixin center-flex($height){
    display: flex;
    align-items: center;
    justify-content: center;
    height: $height;
}
@mixin absolute-center($width,$height){
  position: absolute;
  top: 50%;
  left: 50%;
  width:$width;
  height:$height;
  margin-left: -($width / 2);
  margin-top: -($height / 2);
}

@mixin float($float){
  float:$float;
  &:after,
  &:before{
    clear:both;
  }
}
@mixin push-auto(){
    margin:{
        left:auto;
        right:auto;
    }
}
@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}{
        @content
      }
    }
}
@mixin link-state($link, $hover, $visit, $active) {
    color: $link;
    &:hover {
      color: $hover;
    }
    &:visited {
      color: $visit;
    }
    &:active {
      color: $active;
    }
}
@mixin btn-state($btn-color){
  background-color: $btn-color!important;
  &:hover{
      background-color: darken($btn-color, 6.5%)!important;
  }
  &:hover:disabled{
      background-color:$btn-color!important;;
  }
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
//transitions
@mixin transition($args) {
-webkit-transition: $args;
   -moz-transition: $args;
    -ms-transition: $args;
     -o-transition: $args;
        transition: $args;
}
@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}
@mixin font-size($font-size-global){
    font-size:$font-size-global;
    -webkit-text-size-adjust: $font-size-global;
    -ms-text-size-adjust: $font-size-global;
}
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
//rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
