@mixin phone(){
  @media (max-width: #{$layout-phone}){
    @content;
  }
}
@mixin tablet(){
  @media (min-width: #{$layout-phone} +1) and (max-width: #{$layout-tablet}){
    @content;
  }
}
@mixin circle($size){
  border-radius: ($size/2);
  width: $size;
  height: $size;
  line-height:$size;
  display: block;
  text-align: center;
}
@mixin background($img,$repeat,$pos,$size){
  background-image: $img;
  background-repeat: $repeat;
  background-position: $pos;
  background-size:$size;
}
@mixin truncate($width:''){
  @if $width == '' {
    //nada
  } @else {
    max-width:$width;
  }
  white-space:nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@mixin position($pos,$top,$right,$bottom,$left,$z-index){
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}

@mixin center-flex($height){
    display: flex;
    align-items: center;
    justify-content: center;
    height: $height;
}
@mixin absolute-center($width,$height){
  width:$width;
  height:$height;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: (-$width / 2);
  margin-top: (-$height / 2);
}

@mixin float($float){
  float:$float;
  &:after,
  &:before{
    clear:both;
  }
}
@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}{
        @content
      }
    }
}
@mixin link-state($link, $hover, $visit, $active) {
    color: $link;
    &:hover {
      color: $hover;
    }
    &:visited {
      color: $visit;
    }
    &:active {
      color: $active;
    }
}
@mixin btn-state($btn-color){
  background-color: $btn-color!important;
  &:hover{
      background-color: darken($btn-color, 6.5%)!important;
  }
  &:hover:disabled{
      background-color:$btn-color!important;;
  }
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($args) {
-webkit-transition: $args;
   -moz-transition: $args;
    -ms-transition: $args;
     -o-transition: $args;
        transition: $args;
}
@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}
@mixin font-size($font-size-global){
    font-size:$font-size-global;
    -webkit-text-size-adjust: $font-size-global;
    -ms-text-size-adjust: $font-size-global;
}
@mixin border($border) {
    border:$border;
}
//rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
