/**
 * Typography
 */

//font-family
html{
    @include font-size($font-size-global)
}
body{
    font-family: $font-primary;
    color:$font-color;
}
//heading config (h1 to h6)
@include headings(){
    font-weight: normal;
    font-family: $font-secondary;
    > small{
      margin-left: .7rem;
    }
}
@for $i from 1 through 6 {
    h#{$i}{
        font-size:$font-size + $font-scale * (7 - $i);
        > span,small{
          font-size:  $font-size + 0.1 * (7 - $i);
        }
    }
}

p, span, label, a, li, ol {
  font-size:$font-size;
  line-height: $font-size*1.7;
  color: inherit;
}
small {font-size: $font-size*0.8;}

a {
  cursor:pointer;
  .fa{
    margin: 0 .5rem 0 0;
  }
}
