li {
  list-style-type: none;
}
[class*="#{$prefix}main-nav"]{
    > ul{
      overflow:hidden;
      > li {
        position: relative;
        > a {
          display:block;
          padding:.4rem;
        }
        &[disabled]{
          opacity: .4;
          cursor: not-allowed;
        }
      }
    }
}
nav.#{$prefix}main-nav-h {
    ul{
        display:flex;
    }
}
