node_modules/
resources/scss/font-awesome/
resources/fonts/
gulpfile.js
resources/js/
resources/img/favicon.png
resources/css/prism.css

.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
