/**
 * @title Module-blocks
 * @example <div class="[$prefix]-float-row">...
            <div class="[$prefix]-float-col-[1-12]">...
 * @description the most common grid css system, use if your proyect is under IE11 support
**/

.#{$prefix}float-row{
  +.#{$prefix}float-row{
      margin-top: 1em;
      margin-bottom: 1em;
  }
  &:after,
  &:before{
      content: "";
      display: table;
      clear: both
  }
}
[class*="#{$prefix}float-col-"] {
    float: left;
    margin-right: $grid-space;
    &:last-of-type{
        border-right: 0;
        margin-right: 0;
    }
}
@for $i from 1 through $grid-float {
    .#{$prefix}float-col-#{$i} {
       width:(100% / ($grid-float / $i)) - (($grid-space * ($grid-float - $i)) / $grid-float);
    }
}
@include tablet{
    [class*="#{$prefix}float-col-"] {
        width: 50% - $grid-space !important;
        border-left: none!important;
        &:last-of-type{
            margin-right: 0;
        }
    }
};
@include mobile{
    [class*="#{$prefix}float-col-"] {
        float: none;
        width: 100%!important;
        margin-right: 0;
        margin-top: 5px;
        border-left: none!important;
    }
};
