$sides:(t: top, l: left, r: right, b: bottom);

@for $i from 1 through 5 {
    .#{$prefix}#{$margin-prefix}--#{$i}{
        margin: $i + rem;
    }
    .#{$prefix}#{$padding-prefix}--#{$i}{
        padding: $i + rem;
    }
    @each $side, $name-side in $sides {
        .#{$prefix}#{$margin-prefix}{
            &--#{$side}__#{$i}{
                margin-#{$name-side}: $i + rem
            }
        }
        .#{$prefix}#{$padding-prefix}{
            &--#{$side}__#{$i}{
                padding-#{$name-side}: $i + rem
            }
        }
    }
}
