//Colour UI definition:
@import 'flatUI';
//layout
$colour-background-layout   : white;
//text
$colour-text                : #333;
$colour-text-error          : $pomegranate;
$colour-button              : white;
$colour-input               : black;
//links
$colour-link-default        : $peter-river;
//link button
$colour-link-btn            : $silver;

//buttons
$colour-btn-default         : $wet-asphalt;
$colour-btn-minimal         : $asbestos;

//nav burger color
$colour-nav-burger          : $wet-asphalt;

//divisor
$colour-background-divisor  : $concrete;

//inputs
$colour-input-border        : #cecece;
$colour-input-background    : white;
