//Colour UI definition:
@import 'flatUI-colors';
//layout
$colour-background-layout   : white;
//text
$colour-text                : black;
$colour-button              : white;
$colour-input               : black;
//links
$colour-link-default        : $peter-river;
//link button
$colour-link-btn            : $silver;

//buttons
$colour-btn-default         : $wet-asphalt;
$colour-btn-primary         : $peter-river;
$colour-btn-safe            : $turquoise;
$colour-btn-warning         : $sun-flower;
$colour-btn-risk            : $pomegranate;
$colour-btn-minimal         : $asbestos;

//nav burger color
$colour_nav-burger          : $wet-asphalt;

//divisor
$colour-background-divisor  : $concrete;

//inputs
$colour-input-border        : grey;
$colour-input-background    : white;
