.#{$prefix}progress-bar{
  display: block;
  width: 100%;
  background: $progress-background;
  height: $progress-height;
  position: relative;
  overflow: hidden;
  > span {
      color: $progress-bar-font-color;
      font-size: $progress-bar-font-size;
      position: absolute;
      left: 0;
      background:$progress-bar-background;
      height: $progress-height;
      line-height: $progress-height;
      font-style: normal;
      text-align: left;
      padding-left: 8px;
  }
}
