@if $flex-grid {
    .#{$prefix}grid-flex{
        display: flex;
    }
    .#{$prefix}grid-flex + .#{$prefix}grid-flex{
        margin-top:.8rem;
    }
    [class*='#{$prefix}flex-']{
        margin-right: $grid-space;
        &:last-of-type{
            margin-right: 0;
        }
    }
    @for $i from 1 through $flex-columns {
        .#{$prefix}flex-col-#{$i} {flex:$i}
    }
}
