
//font-family
html{
    @include font-size($font-size-global)
}
body{
    font-family: $font-primary;
    color:$font-color;
    font-size:$font-size;
    font-weight: normal;
    line-height: 1.6875;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -webkit-user-select: text;
    text-rendering: optimizeLegibility;
   // line-height: $font-size*1.7;
}
// p, span, label, a, li, ol {

// }

small {font-size: $font-size*0.8;}

@include headers(){
    font-weight: normal;
    font-family: $font-secondary;
}
@for $i from 1 through 6 {
    h#{$i}{
        font-size:$font-size + $font-scale * (7 - $i);
        > span, small{
          font-size:  $font-size + 0.1 * (7 - $i);
        }
    }
}
