
//font-family
html{
    @include font-size($font-size-global)
}
body{
    font-family: $font-primary;
    color:$font-color;
}
@include headers(){
    font-weight: normal;
    font-family: $font-secondary;
}
@for $i from 1 through 6 {
    h#{$i}{
        font-size:$font-size + $font-scale * (7 - $i);
        > span{
          font-size:  $font-size + 0.1 * (7 - $i);
        }
    }
}

p, span, label, a, li, ol {
  font-size:$font-size;
  line-height: $font-size*1.7;
  color: inherit;
}
small {font-size: $font-size*0.8;}

a {
  cursor:pointer;
}
