.#{$prefix}nav-burger{
  padding:16px;
  padding-left: 0;
  display: inline-block;
  color: $nav-burger-color;
  > span{
      width: 25px;
      height: 3px;
      background: $nav-burger-color;
      display: block;
  }
  > span + span{
      margin-top: 5px;
  }
  &:hover{
    color:darken($nav-burger-color, 5.5%);
    text-decoration: none;
  }
}
