/**
 * @title Buttons
 * @example
**/
.nt_button {
      background-color: $colour-btn-default;
      color: white;
      font-weight: $button-weight;
      font-size:1.2rem;
      text-transform: uppercase;
      height: 30px;
      white-space:nowrap;
      text-overflow: ellipsis;
      padding: 7px 12px;
      min-width: 120px;
      @include border(1px solid darken($colour-btn-default, 5%));
      @include border-radius($border-radius);
      @include transition(all 100ms linear);
      outline: none;
      vertical-align: middle;
      &:hover {
        background-color: darken($colour-btn-default, 5.5%);
      }
      &:disabled {
          cursor:not-allowed!important;
          opacity: .5;
      }
      > .fa {
          margin-right: 3px;
      }
}
[data-button="default"]{
    background-color: $colour-btn-default!important;
    @include border(1px solid darken($colour-btn-default, 5%)!important);
    &:hover{
        background-color: darken($colour-btn-default, 5.5%)!important;
    }
    &:hover:disabled{
        background-color: $colour-btn-default!important;;
    }
}
[data-button="primary"]{
    background-color: $colour-btn-primary!important;
    @include border(1px solid darken($colour-btn-primary, 5%)!important);
    &:hover{
        background-color: darken($colour-btn-primary, 5.5%)!important;
    }
    &:hover:disabled{
        background-color: $colour-btn-primary!important;;
    }
}
[data-button="safe"]{
    background-color: $colour-btn-safe!important;
    @include border(1px solid darken($colour-btn-safe, 5%)!important);
    &:hover{
        background-color: darken($colour-btn-safe, 5.5%)!important;
    }
    &:hover:disabled{
        background-color: $colour-btn-safe!important;;
    }
}
[data-button="warning"]{
    background-color: $colour-btn-warning!important;
    @include border(1px solid darken($colour-btn-warning, 5%)!important);
    &:hover{
        background-color: darken($colour-btn-warning, 5.5%)!important;
    }
    &:hover:disabled{
        background-color: $colour-btn-warning!important;;
    }
}
[data-button="risk"]{
    background-color: $colour-btn-risk!important;;
    @include border(1px solid darken($colour-btn-risk, 5%)!important);
    &:hover{
        background-color: darken($colour-btn-risk, 5.5%)!important;
    }
    &:hover:disabled{
        background-color: $colour-btn-risk!important;;
    }
}
[data-button="disabled"]{
    background-color: white!important;;
    color: darken(white, 20%);
    @include border(1px solid darken(white, 5%)!important);
    &:hover{
        background-color:white!important;;
    }
    &:hover:disabled{
        background-color: white!important;
    }
}
[data-button="minimal"]{
    background-color: transparent!important;;
    color:$colour-btn-minimal!important;;
    &:hover{
        color:darken($colour-btn-minimal,5.5%)!important;
        background-color: transparent;
    }
}

.toggle-button {
    background-color: white;
    margin:0;
    border-radius: 20px;
    border: 2px solid #D0D0D0;
    height: 26px;
    cursor: pointer;
    width: 40px!important;
    position: relative;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    button {
        cursor: pointer;
        outline: 0;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 100%;
        width: 26px;
        height: 26px;
        background-color: white;
        float: left;
        margin: -2px 0 0 -2px;
        border: 2px solid #D0D0D0;
        transition: left 0.3s;
    }
}
.toggle-button-selected {
    background-color: #83B152;
    border: 2px solid #7DA652;
    button {
        left: 14px;
        top: 0;
        margin: 0;
        border: none;
        width: 22px;
        height: 22px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    }
}
