/**
 * @title _colours
 * @description: main configuration palette colour and look n feel based on
 * http://chir.ag/projects/name-that-color/
**/
@import 'flatUI-colors';
//Colour UI definition:

//layout
$colour-background-body     :white;
$colour-background-main     :white;
//text
$colour-text                :black;

//links
$colour-link-default        :$peter-river;
//link button
$colour-link-btn            :$silver;

//buttons
$colour-btn-default         :$wet-asphalt;
$colour-btn-primary         :$peter-river;
$colour-btn-safe            :$turquoise;
$colour-btn-warning         :$sun-flower;
$colour-btn-risk            :$pomegranate;
$colour-btn-minimal         :$asbestos;

//nav burger color
$colour_nav-burger          :$wet-asphalt;

//divisor
$colour-background-divisor  :$concrete;
