.#{$prefix}optimus-prime{
  @include center-flex(500px);
}
.#{$prefix}example-col{
    background-color: #eaeaea;
    >p{
        text-align: center;
    }
}
.start-here{
    h1{
        font-size: 4.4rem;
    }
    text-align:center;
    width: 320px;
    > .#{$prefix}link-button{
        margin:20px auto 0;
        display: block;
        max-width:240px;
        &:last-of-type{
            margin-top: 4px;
        }
    }
}
.#{$prefix}example-btn-content{
    text-align: center;
    .#{$prefix}button{
        margin: 4px;
    }
}
