.nt_example-col{
    background-color: #eaeaea;
    >p{
        text-align: center;
    }
}
.start-here{
    h1{
        font-size: 4.4rem;
    }
    text-align:center;
    width: 320px;
    > .nt_button{
        margin:20px auto 0;
        display: block;
        width:210px;
        &:last-of-type{
            margin-top: 4px;
        }
    }
}
.nt_example-btn-content{
    text-align: center;
    .nt_button{
        margin: 4px;
    }
}
