.#{$prefix}helper-float-right{
    float:right;
}
.#{$prefix}helper-float-left{
    float: left;
}
.#{$prefix}helper-align-l{
  text-align: left;
}
.#{$prefix}helper-align-r{
  text-align: right;
}
.#{$prefix}helper-align-c{
  text-align: center;
}
.#{$prefix}disabled {
    cursor: not-allowed!important;
}
a.#{$prefix}disabled {
    pointer-events: none!important;
}
.#{$prefix}helper-hidden{
    display: none;
}
.#{$prefix}helper-flex{
    display: flex; //IE 11+
}
hr.#{$prefix}helper-divisor{
    height: 1px;
    background-color: #e8e8e8;
    width: 100%;
    margin: 10px 0;
}
