/**
 * @title Inputs
 * @example
**/
.#{$prefix}input,
.#{$prefix}select,
.#{$prefix}textarea {
  border: 1px solid $colour-input-border !important;
  outline: none;
  padding: 6px;
  font-size: 1.2rem;
  font-family: inherit;
  width: 100%;
  background-color: $colour-input-background;
  color: #5a5a5a;
  @include border-radius($border-radius);
}
.#{$prefix}input,
.#{$prefix}select{
    height: $input-height;
    &:disabled {
        background: #efefef;
      }
}
select[disabled] > option{
    color:#ccc!important;
}
.#{$prefix}select[multiple] {
    min-height: 120px;
}
input {
  &[type="file"] {
    border: 0 !important;
    outline: none;
  }
  &:focus {
    border-color: #65B3CC !important;
    background-color: #F9F9F9 !important;
  }
}
