//disabled link in helpers .nt_disabled
a.nt_link {
  @include link-state(
    $colour-link-default,
    darken($colour-link-default, 5.5%),
    green,
    blue);
  .fa{
    margin: 0 .5rem 0 0;
  }
}
.nt_link-button{
  display: inline-block;
  padding:4px 12px;
  background-color: $colour-link-btn;
  font-weight: $button-weight;
  color: white;
  text-align: center;
  text-decoration: none;
  @include border(1px solid darken($colour-link-btn, 5%));
  @include border-radius($border-radius);
  @include transition(all 100ms linear);
  > .fa {
      margin-right: 3px;
  }
  &:hover {
    background-color: darken($colour-link-btn, 5.5%);
    color:white;
    text-decoration: none;
  }
  &:disabled {
      cursor:not-allowed!important;
      opacity: .5;
  }
}
a.nt_link-size-big{
  font-size: 2.2rem;
  padding: 12px 28px;
}
