@mixin center-flex($height){
    display: flex;
    align-items: center;
    justify-content: center;
    height: $height;
}
@mixin absolute-center($width){
  width:$width;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: (-$width / 2);
  margin-top:(-$width / 2);
}
@mixin link-state ($link, $hover, $visit, $active) {
    color: $link;
    &:hover {
      color: $hover;
    }
    &:visited {
      color: $visit;
    }
    &:active {
      color: $active;
    }
}
@mixin btn-state($btn-color){
  background-color: $btn-color!important;
  &:hover{
      background-color: darken($btn-color, 6.5%)!important;
  }
  &:hover:disabled{
      background-color:$btn-color!important;;
  }
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($args) {
-webkit-transition: $args;
   -moz-transition: $args;
    -ms-transition: $args;
     -o-transition: $args;
        transition: $args;
}
@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}
@mixin font-size($font-size-global){
    font-size:$font-size-global;
    -webkit-text-size-adjust: $font-size-global;
    -ms-text-size-adjust: $font-size-global;
}

@mixin border($border) {
    border:$border;
}
//rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
@mixin truncate($truncation-width) {
    max-width: $truncation-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
