.nt_section {
  > header{
      margin-bottom: 13px;
      border-bottom:1px solid #f1f1f1
  }
  > footer{
    margin-top:13px;
    padding-top: .3em;
    border-top: 1px solid #f1f1f1
  }
  + .nt_section {
     margin-top: 4rem;
  }
}
