
[data-tooltip]{
  position: relative;
  &:hover{
    &:before{
      position: absolute;
      bottom: 120%;
      left: 0;
      margin-bottom: 5px;
      padding: 7px;
      width: 110px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: #e8e8e8;
      color: #717171;
      content: attr(data-tooltip);
      text-align: center;
      font-size: 12px;
      line-height: 1.2;
      cursor: default;
    }
    &:after{
      position: absolute;
      cursor: default;
      bottom: 120%;
      left: 10%;
      width: 0;
      border-top:5px solid #e8e8e8;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      content: " ";
      font-size: 0;
      line-height: 0;
    }
  }
}
