/**
 * Typography
 */

//font-family
html{
    @include font-size($font-size-global)
}
body{
    font-family: $font-primary;
    color:$colour-text;
}
//heading config (h1 to h6)
@include headings(){
    font-weight: normal;
    font-family: $font-secondary;
    > small{
      margin-left: .7rem;
    }
}
@for $i from 1 through 6 {
    h#{$i}{
        font-size:$font-size + $font-scale * (6 - $i)
    }
}

p, span, label, a, li, ol, strong {
  font-size:$font-size;
  line-height: $font-size*1.5;
  color: inherit;
}
strong{
    font-size: inherit!important;
    font-weight: 700;
}
small {font-size: $font-size*0.8;}

a {
  color: $colour-link-default;
  &:hover {
    color: darken($colour-link-default,8.5%);
  }
}
