/**
 * @title _variables
 * @description: main configuration
**/
//setup colours: _colours.scss
@import "colours";
// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

//Font-awesome icons
//@import "font-awesome/font-awesome.scss";

//Global params tipography
$font-primary           :'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-secondary         :'Roboto Slab', Georgia, "Times New Roman", Times, serif;

$font-size-global       :62.5%;
//font-size 1.4rem = 14px
$font-size              :1.4rem;

//layout configuration
//$min-width-layout     :280px;
$max-width-layout       :90%;
$layout-spacing         :0 2%;

//select columns for your grid
$default-columns        :12;
$flex-columns           :16;
$fix-columns            :12;
//add margin to columns on default grid
$grid-space        :.5%;

//for mediaqueries
$break-point            :40em;

//button & inputs
$border-radius      :4px;
