/*
    define your own prefix to all classname if you need it!
    learn more at http://getbem.com/naming/
*/
/*
    Define your fonts
*/
/*
    Can define your palette colors by name
    https://htmlcolorcodes.com/color-names/
*/
@font-face {
  font-family: System;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"); }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video, img, main, input, textarea, select {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video, main, img {
  display: block; }

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 62.5%;
  -ms-text-size-adjust: 62.5%; }

body {
  font-family: arial;
  color: black;
  font-weight: normal;
  line-height: 1.6875;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: text;
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: System; }

h1 {
  font-size: 4.1rem; }
  h1 > span {
    font-size: 2rem; }

h2 {
  font-size: 3.65rem; }
  h2 > span {
    font-size: 1.9rem; }

h3 {
  font-size: 3.2rem; }
  h3 > span {
    font-size: 1.8rem; }

h4 {
  font-size: 2.75rem; }
  h4 > span {
    font-size: 1.7rem; }

h5 {
  font-size: 2.3rem; }
  h5 > span {
    font-size: 1.6rem; }

h6 {
  font-size: 1.85rem; }
  h6 > span {
    font-size: 1.5rem; }

p, span, label, a, li, ol {
  font-size: 1.4rem;
  line-height: 2.38rem;
  color: inherit; }

small {
  font-size: 1.12rem; }

a {
  cursor: pointer; }

.rckt-grid-flex {
  display: flex; }

.rckt-grid-flex + .rckt-grid-flex {
  margin-top: .8rem; }

[class*='rckt-flex-'] {
  margin-right: 0.5%; }
  [class*='rckt-flex-']:last-of-type {
    margin-right: 0; }

.rckt-flex-col-1 {
  flex: 1; }

.rckt-flex-col-2 {
  flex: 2; }

.rckt-flex-col-3 {
  flex: 3; }

.rckt-flex-col-4 {
  flex: 4; }

.rckt-flex-col-5 {
  flex: 5; }

.rckt-flex-col-6 {
  flex: 6; }

.rckt-flex-col-7 {
  flex: 7; }

.rckt-flex-col-8 {
  flex: 8; }

.rckt-flex-col-9 {
  flex: 9; }

.rckt-flex-col-10 {
  flex: 10; }

.rckt-flex-col-11 {
  flex: 11; }

.rckt-flex-col-12 {
  flex: 12; }

.rckt-flex-col-13 {
  flex: 13; }

.rckt-flex-col-14 {
  flex: 14; }

.rckt-flex-col-15 {
  flex: 15; }

.rckt-flex-col-16 {
  flex: 16; }

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  [class*='rckt-flex-'] {
    flex: 2 !important; } }

@media only screen and (max-width: 480px) {
  .rckt-grid-flex {
    display: block; }
  [class*='rckt-flex-'] {
    flex: 1 !important;
    margin-right: 0; }
  [class*='rckt-flex-']:last-of-type {
    margin-top: 5px; } }

.rckt-float-right:after, .rckt-float-right:before,
.rckt-float-left:after,
.rckt-float-left:before {
  clear: both; }

.rckt-float-left {
  float: left; }

.rckt-float-right {
  float: right; }

.rckt-align-left {
  text-align: left; }

.rckt-align-right {
  text-align: right; }

.rckt-align-center {
  text-align: center; }

.rckt-disabled {
  cursor: not-allowed !important; }

a.rckt-disabled {
  pointer-events: none !important; }

.rckt-hidden {
  display: none;
  visibility: hidden; }

.rckt-center-flex {
  display: flex;
  align-items: center;
  justify-content: center; }

hr.rckt-divisor {
  height: 1px;
  background-color: #e8e8e8;
  width: 100%;
  margin: 10px 0; }

/*
//basic layout
@import "rocket/layout";

//navigator
//@import "rocket/nav";

@import "rocket/components/nav-burger";

//inputs
@import "rocket/buttons";
@import "rocket/links";
@import "rocket/inputs";

//table
@import "rocket/table";

//components
//@import "rocket/components/tooltip";
//@import "components/dialog";
//@import "toggle-button";
*/
