
$prefix:''!default;
// normalize some stuff
$reset-table    : true !default;
$reset-buttons  : true !default;
$reset-inputs   : true !default;
$inputs         : true !default;
$buttons        : true !default;
$grid-flex      : true !default;
// colors
$red    : Crimson!default;
$green  : ForestGreen!default;
$blue   : Navy!default;
$orange : DarkOrange!default;
$yellow : Gold!default;
$violet : BlueViolet!default;
$grey   : DarkGrey !default;
// @import 'core/colors';
@import 'core/fonts';

//Global params
$font-primary           : System, Arial, "Helvetica Neue", Helvetica, sans-serif !default;
$font-secondary         : System, Georgia, "Times New Roman", Times, serif !default;
$font-size-global       : 62.5%!default;
//font-size 1.4rem = 14px
$font-size              : 1.4rem !default;
$font-scale             : 0.45 !default;
$font-color             : black !default;

//select columns for your grid
$grid-flex              : 16 !default;
$grid-float             : 12 !default;
$grid-fix               : 12 !default;
//add margin to columns on default grid
$grid-space             : .5% !default;

//layout configuration
$layout-min-width       : 280px !default;
$layout-max-width       : 100% !default;
$layout-padding         : 0 2% !default;
$layout-margin          : 0 !default;
$layout-background      : white !default;

$media-tablet           : 1024px;
$media-mobile           : 480px;

// $media:(
//     desktop:1024px,
//     tablet:768px,
//     phone:480px,
//     watch:230px
// );

//article
$article-spacing        : 13px !default;

//section
$section-spacing        : 13px !default;



//Universal params
$border-radius          : 5px !default;

//button & inputs
$button-height          : auto!default;
$button-min-width       : 120px !default;
$button-padding         : 7px 12px;
$button-weight          : 700 !default;
$button-font-size       : $font-size !default;
$button-color           : black !default;
$button-background      : white !default;

$button-ui:(
  primary:blue,
  safe:green,
  warning:magenta,
  risk:yellow
);

//input settings
$input-height           : 30px !default;
$input-color            : black !default;
$input-font-size        : $font-size !default;
$input-border           : 1px solid blue !default;
$input-background       : white !default;

// table settings
$table-th-padding       : 9px !default;
$table-th-align         : left !default;
$table-th-font-size     : $font-size !default;
$table-tr-background    : #fbfbfb;

//burger navigation
$nav-burger-color       : black;

//tooltip-size
$tooltip-small          : 120px !default;
$tooltip-medium         : 240px !default;
$tooltip-large          : 360px !default;

//progress-bar
$progress-background    : #ccc;
$progress-height        : 35px;
$progress-bar-background: #2980b9;

$progress-bar-font-color: white;
$progress-bar-font-size : $font-size;
