a {
  cursor:pointer;
  text-decoration: none;
  outline: 0;
  &:link, &:visited, &:hover, &:active {
    outline: 0;
  }
  img {
    border: 0;
  }
}
a.#{$prefix}link {
  @include link-state(
    $link-color,
    darken($link-color, 5.5%),
    $green,
    $blue);
  &:hover {
    text-decoration: underline;
  }
}
