// configurate my theme!

/*
    define your own prefix to all classname if you need it!
    learn more at http://getbem.com/naming/
*/
$prefix:'';
// ask yourself if you need all this stuff!
$inputs     : false;
$buttons    : false;
$table      : false;
/*
    Define your fonts
*/
$my-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-primary: $my-fonts;
$font-secondary: $my-fonts;
$font-size: 1.4rem;

/*
    Can define your palette colors by name
    https://htmlcolorcodes.com/color-names/
*/
// define just that you need it!
// $grid-flex : true;
$flex-cols  : 16;
